body {
    font-family: YuGothic, 'Yu Gothic', sans-serif;
    text-align: justify;
    text-justify: inter-ideograph;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.1em;
}

.none {
    display: none;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++ */
a {
    color: #00d0ff;
}
a:hover {
    color: #00d0ff;
}


#wrapper {
    min-width: 1200px;
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 0 !important;
    margin: 0;
    background: none !important;
    z-index: 2;
}
#wrapper:after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
* html #wrapper {
    zoom: 100%;
}
*:first-child+html #wrapper {
    display: inline-block;
}
#wrapper:after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}




li#BGM {
    position: relative;
}
li#BGM  p {
    position: absolute;
    top: 0;
    left: 40px;
}




#Intro {
    display: none;
}
/*#introWrap {
	opacity: 0;
}*/



/* PC�鍂
---------------------*/
@media screen and (min-width:779px), print {

    .sp,
    #spFooter {
        display: none;
    }



    #Intro {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -75px;
        width: 150px;
        z-index: 1000;
    }
    #Intro img {
        width: 100%;
        height: auto;
    }




    /* mainimages
    ---------------------*/
    #mainimages {
        min-width: 315px;
        height: 100%;
        position: fixed;
        z-index: 100 !important;
        overflow: hidden;
        display: none;
    }




    #logo {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -65px;
        z-index: 10000 !important;
    }

    #mainimages ul {
        display: none;
    }

    #mainimages .info {
        min-width: 315px;
        height: 100%;
    }
    #mainimages #bg01 {
        background: url(../img/bg01.jpg) repeat-x center center;
    }
    #mainimages #bg02 {
        background: url(../img/bg02.gif) repeat-x center center;
    }
    #mainimages #bg03 {
        background: #FFF7B9;
        position: relative;
    }
    #mainimages .info h1 {
        width: 1235px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -1210px;
        margin-left: -617px;
    }
    #mainimages .info p {
        position: absolute;
        left: 50%;
        margin-left: -70px;
        bottom: 5%;
    }
    #mainimages .info #hito {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -80px;
    }

    #mainimages #bg04 {
        background: url(../img/bg04.jpg) repeat-x center center;
        background-size: cover;
    }
    #mainimages #bg05 {
        background: url(../img/bg05.jpg) repeat-x center center;
        background-size: cover;
    }
    #mainimages #bg06 {
        background: url(../img/bg06.jpg) repeat-x center center;
        background-size: cover;
    }
    #mainimages #bg07 {
        background: url(../img/bg07.jpg) repeat-x center center;
        background-size: cover;
    }




    .flexslider {
        min-width: 315px;
        height: 100%;
    }
    .slides {
        min-width: 315px;
        height: 100%;
    }


    /* Direction Nav */
    .flex-direction-nav a  {
        display: none;
    }


    /* Control Nav */
    .flex-control-nav {
        display: none;
    }








    /* contents
    ---------------------*/
    #contents {
        width: 885px;
        z-index: 10 !important;
        background: #fff;
        float: right;

    }
    #contents:after {
        content: ".";
        clear: both;
        height: 0;
        display: block;
        visibility: hidden;
    }
    * html #contents {
        zoom: 100%;
    }
    *:first-child+html #contents {
        display: inline-block;
    }

    #contents #Product {
        width: 805px;
    }
    #contents #Product ul {
        padding: 10px;
    }
    * html #contents #Product ul {
        zoom: 100%;
    }
    *:first-child+html #contents #Product ul {
        display: inline-block;
    }
    #contents #Product ul:after {
        content: ".";
        clear: both;
        height: 0;
        display: block;
        visibility: hidden;
    }
    #contents #Product ul li {
        position: relative;
    }
    #contents #Product ul li p {
        position: relative;
    }
    #contents #Product ul li a img {
        position: absolute;
        top: 0;
        left: 0;
    }

    #contents #Product ul li img.photo02 {
        display: none;
    }
    #contents #Product ul li img.photo03 {
        display: none;
    }






    #item01 {
        float: left;
        width: 520px;
        height: 520px !important;
        margin-bottom: 10px;
    }

    #item02 {
        float: right;
        width: 255px;
        height: 520px !important;
        margin-bottom: 10px;
    }
    #item03 {
        float: left;
        width: 255px;
        height: 520px !important;
        margin-bottom: 10px;
    }
    #item04 {
        float: left;
        width: 520px;
        height: 255px !important;
        margin-bottom: 10px;
    }
    #item05 {
        float: left;
        width: 520px;
        height: 255px !important;
        margin-bottom: 10px;
    }
    #item06 {
        float: right;
        width: 520px;
        height: 520px !important;
        margin-bottom: 10px;
    }
    #item07 {
        float: right;
        width: 255px;
        height: 255px !important;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    #item08 {
        float: right;
        width: 255px;
        height: 255px !important;
        margin-bottom: 10px;
    }


    #item09 {
        float: left;
        width: 255px;
        height: 255px !important;
        margin-bottom: 10px;
    }
    #item10 {
        float: left;
        width: 255px;
        height: 255px !important;
        margin-bottom: 10px;
    }
    #item11 {
        float: left;
        width: 255px;
        height: 255px !important;
        margin-right: 10px;
    }
    #item12 {
        float: left;
        width: 255px;
        height: 255px !important;
        margin-right: 10px;
    }
    #item13 {
        float: right;
        width: 255px;
        height: 255px !important;
    }





    #item-news {
        float: right;
        width: 520px;
        height: 255px !important;
        margin-bottom: 10px;
    }
    #item-about {
        float: left;
        width: 255px;
        height: 255px !important;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    #item-about img {
        width: 100%;
        height: auto;
    }
    #item-facebook {
        float: right;
        width: 255px;
        height: 255px !important;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    #item-facebook img {
        width: 100%;
        height: auto;
    }



    #contents #Product ul li .name {
        width: 240px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -120px;
        text-align: center;
        background: #fff;
        padding: 9px 0;
        line-height: 1.4;

        border-radius: 99px;
    }
    @-moz-document url-prefix() {
        #contents #Product ul li .name {
            width: 240px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -120px;
            text-align: center;
            background: #fff;
            padding: 9px 0;
            line-height: 1.4;

            border-radius: 99px;
        }
    }






    #news {
        border: solid 1px #eeeeee;
        height: 255px;
    }
    #news ul {
        padding: 20px;
    }
    #news ul li {
        border-bottom: dotted 1px #CCC;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    #news ul li span {
        display: block;
    }
    #news ul li.last {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }








    /* menu
    ---------------------*/
    #menuBtn {
        position: fixed;
        width: 100px;
        top: 40%;
        margin-top: -60px;
        right: 0px;
        z-index: 1000;
        text-align: center;
    }
    #menuBtn button {
        width: 28px;
        margin: 0 auto;
    }
    #menuBtn.stop {
        left: 1100px;
    }
    #menuBtn p {
        margin-top: 3px;
    }
    #menuBtn p img {
        width: 40px;
        height: auto;
    }



    /* rightNav
    ---------------------*/
    ul#Nav  {
        position: fixed;
        width: 100px;
        top: 40%;
        right: 0px;
        margin-top: 25px;
        z-index: 500;
        text-align: center;
    }
    ul#Nav li {
        margin-bottom: 30px;
        position: relative;
    }
    ul#Nav li.cart img,
    ul#Nav li.menu-contact img,
    ul#Nav li.menu-fb img {
        width: 40px;
        height: auto;
    }
    ul#Nav li.last {
        margin-bottom: 0;
    }
    ul#Nav li #namber {
        position: absolute;
        top: -24px;
        right: 40px;
        background: #ff0000;
        color: #fff;
        width: 20px !important;
        text-align: center;
        font-size: 84%;
        display: block;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 1px;

        border-radius: 50%;
    }


    ul#Nav.stop {
        left: 1100px;
    }

    li#BGM {
        position: relative;
    }
    li#BGM  p {
        position: absolute;
        top: 0;
        left: 40px;
    }


    ul#Nav.stop {
        left: 1100px;
    }







    /* nav
    ---------------------*/
    #nav {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.85);
        width: 100%;
        display: none;
        z-index: 500;
    }
    #nav ul {
        position: fixed;
        width: 100%;
        z-index: 2000;
        margin-top: 50px;
    }
    #nav li {
        border-bottom: solid 1px #333;
    }


    #nav a {
        color: #FFF;
        display: block;
        padding: 30px 0;
        font-size: 160%;
        letter-spacing: 0.1em;
        font-weight: normal;
    }
    #nav a:hover {
        color: #7ebbbc;
    }














}










/* �踴�硔�研����鍂
---------------------*/
@media all and (min-width: 481px) and (max-width: 780px) {

    .pc,
    #logo,
    #BGM,
    .menu-contact,
    .menu-fb {
        display: none;
    }
    img {
        width: 100%;
        height: auto;
    }



    #Intro {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -75px;
        width: 150px;
        z-index: 1000;
    }
    #Intro img {
        width: 100%;
        height: auto;
    }


    /* mainimages
    ---------------------*/
    #mainimages {
        min-width: 100%;
        max-height: 400px;
        position: relative;
        z-index: 100 !important;
        overflow: hidden;
    }
    #mainimages ul {
    }

    #mainimages .info {
        min-width: 100%;
        height: 100%;
    }
    #mainimages #bg01 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage01_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg02 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage02_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg03 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage03_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages .info h1 {
        display: none;
    }
    #mainimages .info p {
        display: none;
    }
    #mainimages .info #hito {
        display: none;
    }

    #mainimages #bg04 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage04_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg05 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage05_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg06 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage06_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg07 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage07_sp.jpg) no-repeat center top;
        background-size: contain;
    }




    .flexslider {
        min-width: 100%;
        height: 100%;
    }
    .slides {
        min-width: 100%;
        height: 100%;
    }


    /* Direction Nav */
    .flex-direction-nav a  {
        display: none;
    }

    /* Control Nav */
    .flex-control-nav {
        display: none;
    }










    #wrapper {
        width: 100%;
        min-width: 100%;
        position: relative;
        background: #fff;
    }





    /* contents
    ---------------------*/
    #contents {
        background: #fff;
    }
    #contents:after {
        content: ".";
        clear: both;
        height: 0;
        display: block;
        visibility: hidden;
    }
    * html #contents {
        zoom: 100%;
    }
    *:first-child+html #contents {
        display: inline-block;
    }

    #contents #Product {
    }
    #contents #Product ul {
        background: #fff;
    }
    * html #contents #Product ul {
        zoom: 100%;
    }
    *:first-child+html #contents #Product ul {
        display: inline-block;
    }
    #contents #Product ul:after {
        content: ".";
        clear: both;
        height: 0;
        display: block;
        visibility: hidden;
    }


    #contents #Product ul li {
        width: 50%;
        margin-bottom: 1em;
        float: left;
        background: #fff;
    }
    #contents #Product ul li a {
        position: relative;
        display: block;
        width: 100%;
    }
    #contents #Product ul li a img {
        position: absolute;
        top: 0;
        left: 0;
    }


    #contents #Product ul li img.photo02,
    #contents #Product ul li img.photo03 {
        display: none;
    }






    #contents #Product ul li .name {
        text-align: center;
        font-weight: bold;
        margin-top: 0.5em;
        margin-bottom: 2em;
    }






    #spFooter {
        padding: 3%;
    }
    #spFooter ul {
    }
    #spFooter ul:after {
        content: ".";
        clear: both;
        height: 0;
        display: block;
        visibility: hidden;
    }
    * html #spFooter ul {
        zoom: 100%;
    }
    *:first-child+html #spFooter ul {
        display: inline-block;
    }

    #item-about {
        float: left;
        width: 49%;
    }

    #item-facebook {
        float: right;
        width: 49%;
    }

    #news {
        margin-top: 2%;
        border: solid 1px #eeeeee;
    }
    #news ul {
        padding: 5%;
    }
    #news ul li {
        border-bottom: dotted 1px #CCC;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    #news ul li span {
        display: block;
    }
    #news ul li.last {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }





    /* menu
    ---------------------*/
    #menuBtn {
        position: absolute;
        top: 2em;
        left: 2em;
        z-index: 20000;
        text-align: center;
    }
    #menuBtn button {
        width: 28px;
        margin: 0 auto;
    }
    #menuBtn p {
        margin-top: 3px;
    }
    #menuBtn p img {
        width: 40px;
        height: auto;
    }


    /* rightNav
    ---------------------*/
    ul#Nav  {
        position: absolute;
        top: 3em;
        right: 1.5em;
        z-index: 10000;
        height: auto;
        text-align: center;
    }
    ul#Nav li {
        margin-bottom: 50px;
        position: relative;
    }
    ul#Nav li.cart img {
        width: 40px;
        height: auto;
    }
    ul#Nav li.last {
        margin-bottom: 0;
    }
    ul#Nav li #namber {
        position: absolute;
        top: -24px;
        right: 1em;
        background: #ff0000;
        color: #fff;
        width: 23px !important;
        text-align: center;
        font-size: 84%;
        display: block;
        padding-top: 3px;
        padding-bottom: 1px;
        padding-left: 1px;

        border-radius: 50%;
    }







    /* nav
    ---------------------*/
    #nav {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.85);
        width: 100%;
        min-width: 100%;
        display: none;
        z-index: 10000;
        min-width: 100%;
    }
    #nav ul {
        width: 100%;
        min-width: 100%;
        z-index: 2000;
        margin-top: 50px;
        min-width: 100%;
    }
    #nav li {
        border-bottom: solid 1px #333;
        width: 100% !important;
    }


    #nav a {
        color: #FFF;
        padding: 30px 0;
        display: block;
        font-size: 160%;
        letter-spacing: 0.1em;
        font-weight: normal;
    }
    #nav a:hover {
        color: #7ebbbc;
    }



    /* footer
    ---------------------*/
    #footer {
        text-align: center;
        margin: 0 auto;
        padding: 8% 3% 5% 3%;
        margin-top: 9%;
        border-top: solid 1px #ddd;
    }

    #footer dl {
        font-size: 84%;
        letter-spacing: 0.2em;
        line-height: 1.5em;
        margin-bottom: 25px;
    }
    #footer dl dt {
        margin-bottom: 20px;
    }

    #footer p {
        font-size: 84%;
        letter-spacing: 0.2em;
    }





}











/* �嫘�𠺶�𤤿鍂
---------------------*/
@media only screen and (max-width: 480px) {

    .pc,
    #logo,
    #BGM,
    .menu-contact,
    .menu-fb {
        display: none;
    }

    img {
        width: 100%;
        height: auto;
    }




    #Intro {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -75px;
        width: 150px;
        z-index: 1000;
    }
    #Intro img {
        width: 100%;
        height: auto;
    }



    /* mainimages
    ---------------------*/
    #mainimages {
        min-width: 100%;
        max-height: 200px;
        position: relative;
        z-index: 100 !important;
        overflow: hidden;
    }
    #mainimages ul {
    }

    #mainimages .info {
        min-width: 100%;
        height: 100%;
    }
    #mainimages #bg01 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage01_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg02 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage02_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg03 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage03_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages .info h1 {
        display: none;
    }
    #mainimages .info p {
        display: none;
    }
    #mainimages .info #hito {
        display: none;
    }

    #mainimages #bg04 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage04_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg05 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage05_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg06 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage06_sp.jpg) no-repeat center top;
        background-size: contain;
    }
    #mainimages #bg07 {
        min-width: 100%;
        height: 100%;
        background: url(../img/mainimage07_sp.jpg) no-repeat center top;
        background-size: contain;
    }



    .flexslider {
        min-width: 100%;
        height: 100%;
    }
    .slides {
        min-width: 100%;
        height: 100%;
    }


    /* Direction Nav */
    .flex-direction-nav a  {
        display: none;
    }

    /* Control Nav */
    .flex-control-nav {
        display: none;
    }










    #wrapper {
        width: 100%;
        min-width: 100%;
        position: relative;
        background: #fff;
    }





    /* contents
    ---------------------*/
    #contents {
        background: #fff;

    }
    #contents:after {
        content: ".";
        clear: both;
        height: 0;
        display: block;
        visibility: hidden;
    }
    * html #contents {
        zoom: 100%;
    }
    *:first-child+html #contents {
        display: inline-block;
    }

    #contents #Product {
    }
    #contents #Product ul {
    }
    * html #contents #Product ul {
        zoom: 100%;
    }
    *:first-child+html #contents #Product ul {
        display: inline-block;
    }
    #contents #Product ul:after {
        content: ".";
        clear: both;
        height: 0;
        display: block;
        visibility: hidden;
    }


    #contents #Product ul li {
        margin-bottom: 1em;
    }
    #contents #Product ul li a {
        position: relative;
        display: block;
        width: 100%;
    }
    #contents #Product ul li a img {
        position: absolute;
        top: 0;
        left: 0;
    }


    #contents #Product ul li img.photo02,
    #contents #Product ul li img.photo03 {
        display: none;
    }






    #contents #Product ul li .name {
        text-align: center;
        font-weight: bold;
        margin-top: 0.5em;
        margin-bottom: 2em;
    }



    #spFooter {
        padding: 3%;
    }
    #spFooter ul {
    }
    #spFooter ul:after {
        content: ".";
        clear: both;
        height: 0;
        display: block;
        visibility: hidden;
    }
    * html #spFooter ul {
        zoom: 100%;
    }
    *:first-child+html #spFooter ul {
        display: inline-block;
    }

    #item-about {
        float: left;
        width: 49%;
    }

    #item-facebook {
        float: right;
        width: 49%;
    }

    #news {
        margin-top: 2%;
        border: solid 1px #eeeeee;
    }
    #news ul {
        padding: 5%;
    }
    #news ul li {
        border-bottom: dotted 1px #CCC;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    #news ul li span {
        display: block;
    }
    #news ul li.last {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }




    /* menu
    ---------------------*/
    #menuBtn {
        position: absolute;
        top: 2em;
        left: 2em;
        z-index: 20000;
        text-align: center;
    }
    #menuBtn button {
        width: 28px;
        margin: 0 auto;
    }
    #menuBtn p {
        margin-top: 3px;
    }
    #menuBtn p img {
        width: 40px;
        height: auto;
    }


    /* rightNav
    ---------------------*/
    ul#Nav  {
        position: absolute;
        top: 3em;
        right: 1.5em;
        z-index: 10000;
        height: auto;
        text-align: center;
    }
    ul#Nav li {
        margin-bottom: 50px;
        position: relative;
    }
    ul#Nav li.cart img {
        width: 40px;
        height: auto;
    }
    ul#Nav li.last {
        margin-bottom: 0;
    }
    ul#Nav li #namber {
        position: absolute;
        top: -24px;
        right: 1em;
        background: #ff0000;
        color: #fff;
        width: 23px !important;
        text-align: center;
        font-size: 84%;
        display: block;
        padding-top: 3px;
        padding-bottom: 1px;
        padding-left: 1px;

        border-radius: 50%;
    }









    /* nav
    ---------------------*/
    #nav {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.85);
        width: 100%;
        min-width: 100%;
        display: none;
        z-index: 10000;
        min-width: 100%;
    }
    #nav ul {
        width: 100%;
        min-width: 100%;
        z-index: 2000;
        margin-top: 50px;
        min-width: 100%;
    }
    #nav li {
        border-bottom: solid 1px #333;
        width: 100% !important;
    }


    #nav a {
        color: #FFF;
        display: block;
        padding: 20px 0;
        font-size: 130%;
        font-weight: normal;
    }
    #nav a:hover {
        color: #7ebbbc;
    }



    /* footer
    ---------------------*/
    #footer {
        text-align: center;
        margin: 0 auto;
        padding: 8% 3% 5% 3%;
        margin-top: 9%;
        border-top: solid 1px #ddd;
    }

    #footer dl {
        font-size: 84%;
        letter-spacing: 0.2em;
        line-height: 1.5em;
        margin-bottom: 25px;
    }
    #footer dl dt {
        margin-bottom: 20px;
    }

    #footer p {
        font-size: 84%;
        letter-spacing: 0.2em;
    }



}






.tcon {
    appearance: none;
    border: none;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 24px;
    background: transparent;
    outline: none; }
.tcon > * {
    display: block; }
.tcon:hover, .tcon:focus {
    outline: none; }
.tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
    display: inline-block;
    height: 2px;
    width: 24px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: black;
    position: relative; }
.tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 2px;
    width: 24px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: black;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%; }
.tcon-menu__lines::before {
    top: 10px; }
.tcon-menu__lines::after {
    top: -10px;	}
.tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8); }

.tcon-menu--xbutterfly {
    width: auto; }
.tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .3s .2s ease, -webkit-transform .3s ease;
    transition: top .3s .2s ease, transform .3s ease; }
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
    background: transparent; }
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
    background: white;
    top: 0;
    transition: top .3s ease, -webkit-transform .3s .2s ease;
    transition: top .3s ease, transform .3s .2s ease;
    width: 24px; }
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 2px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }